*_old_files/
*.7z
*.asv
*.aux
*.auxlock
*.backup
*.bak
*.bat
*.bbl
*.blg
*.dpth
*.DS_Store
*.DS_Store*
*.dvi
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lock
*.lof
*.log
*.lot
*.m~
*.md5
*.nav
*.new
*.out
*.ps
*.pyc
*.slx.original
*.slxc
*.snm
*.swp
*.synctex.gz
*.synctex*
*.tcp
*.temp
*.tmp
*.toc
*.tps
# /*.tikz.pdf
**/_old_files/
**/.idea/*
**/slprj
**/slprj/*
# /*.pdf
*.sav
*-checkpoint.ipynb